apiVersion: v1
kind: Service
metadata:
  name: anime-service
spec:
  type: LoadBalancer
  selector:
    app: anime-recommender
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
